/*start global */
:root {
  --maincolor: #bf0101;
  --secondcolor: #000;
}
* {
  font-family: "El Messiri", sans-serif;
}

html,
body {
  overflow-x: hidden;
}
body {
  height: 3000px;
  position: relative;
}
/* end global */

/* start scroll bar */
html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--maincolor);
  border-radius: 6px;
  border: 3px solid var(--maincolor);
}

/* end scroll bar */

/* strat navbar */
nav {
  background-color: #fff;
  box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
}
.navbar-brand img {
  max-width: 60px;
}

.navbar-nav .nav-link {
  color: #000 !important;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: var(--maincolor) !important;
  font-size: 18.5px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  margin-top: 0;
  box-shadow: 0 0 10px 3px rgb(0 0 0 / 5%);
  padding: 17px 0;
  border-top: 3px solid var(--maincolor);
}
.dropdown-menu .dropdown-item {
  color: var(--secondcolor) !important;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}
.dropdown-menu .dropdown-item:hover {
  color: var(--maincolor) !important;
  letter-spacing: 0.4px;
}

.nav-icons {
  padding: 0 20px;
}
.nav-icons i {
  margin-top: -5px;
  font-size: 24px;
  margin-left: 15px;
  color: var(--secondcolor);
  transition: all 0.1s ease-in-out;
}
.nav-icons i:hover {
  color: var(--maincolor);
  font-size: 24.4px;
}
.cart-link {
  position: relative;
  text-decoration: none;
}
.cart-link span {
  color: #fff;
  background-color: var(--maincolor);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  position: absolute;
  left: 40px;
  bottom: 16px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.cart-link i:hover + span {
  bottom: 20px;
}
.search-icon {
  cursor: pointer;
}
.search-bar {
  position: fixed;
  top: 70px;
  width: 100%;
  padding: 5px;
  display: flex;
  z-index: 9999;
}
.search-bar input {
  background-color: #fff;
  color: var(--secondcolor);
  outline: var(--maincolor);
}
.search-bar input:focus {
  border-color: var(--maincolor);
  box-shadow: 0 0 0 0.25rem rgb(191 1 1 / 25%);
  outline: var(--maincolor);
}
.search-bar button {
  background-color: var(--maincolor);
  color: #fff;
  border-color: var(--maincolor);
}
.search-bar button:hover {
  border-color: var(--maincolor);
  color: var(--maincolor);
  background-color: #fff;
}
@media (min-width: 676px) {
  .search-bar button {
    width: 10%;
  }
}
/* end navbar */

/* mobile nav */
.mobile-nav-icons {
  position: fixed;
  right: auto;
  left: auto;
  bottom: 30px;
  width: 100%;
}
.mobile-nav-icons i {
  color: var(--secondcolor);
  font-size: 28px;
  margin: 0 25px;
}

.mobile-nav-icons i:hover,
.mobile-nav-icons .active {
  color: var(--maincolor);
  font-size: 29px;
}
.mobile-cart-link {
  position: relative;
  text-decoration: none;
}
.mobile-cart-link span {
  color: #fff;
  background-color: var(--maincolor);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  position: absolute;
  left: 48px;
  bottom: 18px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.mobile-cart-link i:hover + span {
  bottom: 20px;
}
/* end mobile nav */

/* start main carousel */
.main-carousel h1 {
  color: var(--secondcolor);
  font-weight: bold;
}
.main-carousel p {
  color: rgb(44, 44, 44);
}
.main-carousel .btn {
  background-color: var(--secondcolor);
  border-radius: unset;
  transition: all 0.5s ease-in-out;
}
.main-carousel .btn:hover {
  background-color: #fff;
  color: var(--secondcolor);
}

/* end main carousel */

/* start catagories */
.catagories {
  padding: 10px;
  margin-top: 20px;
}

.catagories .cat-box img {
  height: 450px;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.catagories .cat-box img:hover {
  transform: scale(1.05, 1.05);
}
@media (max-width: 300px) {
  .catagories img {
    height: 300px;
  }
}
.catagories .cat-box {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
.catagories .cat-box .cat-name {
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  position: absolute;
  bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.catagories .cat-box .cta {
  font-size: 20px;
  color: var(--secondcolor);
  position: absolute;
  bottom: -30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.catagories .cat-box:hover > span {
  bottom: 70px;
}
.catagories .cat-box:hover > .cta {
  bottom: 30px;
}
/* start catagories */
